@import 'variables';
@import 'functions';
@import url('https://use.typekit.net/nvg1xdz.css');

* {
  font-family: 'serenity', sans-serif;
  font-weight: 200;

  .container {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
